/* Reflow User Styles */

.reflow body {
  background: #e0e5eb !important;
  color: #1a1a1a !important;
}

.reflow header {
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #c0c0c0);
  background-image: -moz-linear-gradient(top, #e8e8e8, #c0c0c0);
  background-image: -o-linear-gradient(top, #e8e8e8, #c0c0c0);
  background-image: -ms-linear-gradient(top, #e8e8e8, #c0c0c0);
  background-image: linear-gradient(top, #e8e8e8, #c0c0c0);
  border-bottom: 1px solid #989898;
  height: 50px;
}

.reflow #app_menu {
  background: #e0e5eb;
  border-top: 1px solid #f9f9f9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  min-height: 100%;
  padding: 10px;
  position: static;
  text-align: left;
  width: 15%;
  z-index: 1;
}

.reflow #app_menu div.app_icon.current {
  background: none !important;
}

.reflow #main_splitter {
  border-left: 1px solid #b4b4b4;
  border-top: 1px solid #f9f9f9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin: 0;
  min-width: auto;
  width: 85%;
}

.reflow #app {
  background: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: static !important;
  width: 50% !important;
  z-index: 1;
}

.reflow #chat {
  border-left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  position: static !important;
  width: 50% !important;
}

.reflow .vsplitbar {
  display: none !important;
}

/* Header */

.reflow header .user {
  float: left;
  margin: 10px 0 0 10px;
}

.reflow header .user .me {
  border: 1px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.reflow header .user .user_name {
  display: inline-block;
  position: relative;
  top: -9px;
}

.reflow .common-flow-items {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.reflow .common-flow-items li {
  display: inline;
  float: left;
  margin: 0 1px;
}

.reflow .common-flow-items a,
.reflow .common-flow-items input {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dfdfdf));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #dfdfdf);
  background-image: -moz-linear-gradient(top, #f3f3f3, #dfdfdf);
  background-image: -o-linear-gradient(top, #f3f3f3, #dfdfdf);
  background-image: -ms-linear-gradient(top, #f3f3f3, #dfdfdf);
  background-image: linear-gradient(top, #f3f3f3, #dfdfdf);
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #444;
  cursor: pointer;
  font-size: 11px;
  opacity: .6;
  padding: 3px 7px 4px;
  position: relative;
  text-decoration: none;
  top: 5px;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.reflow .common-flow-items a:hover,
.reflow .common-flow-items input:hover {
  opacity: 1;
}

.reflow .common-flow-items li input {
  top: 0;
}

.reflow .common-flow-items li:first-child {
  display: none;
}

.reflow .common-flow-items li:last-child {
  margin-left: 0;
  margin-right: 0;
}

/* App Menu */

.reflow #app_menu h4 {
  color: #727577;
  line-height: 1;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.reflow #app_menu ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reflow #app_menu li {
  line-height: 20px;
  margin: 0;
  padding: 1px 0 0 0;
}

.reflow #app_menu a {
  color: #1a1a1a;
  cursor: pointer;
  text-decoration: none;
}

.reflow #app_menu a.ui-state-active,
.reflow #app_menu a.ui-state-active.ui-state-hover {
background-color: #b9c4d8;
background-image: -webkit-gradient(linear, left top, left bottom, from(#b9c4d8), to(#9aa9c8));
background-image: -webkit-linear-gradient(top, #b9c4d8, #9aa9c8);
background-image: -moz-linear-gradient(top, #b9c4d8, #9aa9c8);
background-image: -o-linear-gradient(top, #b9c4d8, #9aa9c8);
background-image: -ms-linear-gradient(top, #b9c4d8, #9aa9c8);
background-image: linear-gradient(top, #b9c4d8, #9aa9c8);
border: 0;
border-bottom: 1px solid #919fbc;
color: #fff;
display: inline-block;
margin: 0 -10px;
padding: 2px 10px 0 11px;
width: 100%;
}

.reflow #flow_list .flow_name {
  background: url(http://dl.dropbox.com/u/138203/reflow/img/chat.png) 0 50% no-repeat;
  padding-left: 21px;
}

.reflow #flow_list .organization {
  display: none;
}

.reflow #flow_list .flow_unread {
  float: right;
  height: auto;
  min-width: auto !important;
  position: static;
}

.reflow #actions {
  float: none;
  position: absolute;
  bottom: 10px;
}

.reflow #actions a {
  display: inline-block;
  height: 16px;
  margin: 0 5px 0 0 !important;
  opacity: .5;
  overflow: hidden;
  text-indent: -5000px;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
  width: 16px !important;
}

.reflow #actions a:hover {
  opacity: .85;
}

.reflow #actions [title="Settings"] {
  background: url(http://dl.dropbox.com/u/138203/reflow/img/settings.png) no-repeat !important;
}

.reflow #actions [title="Help"] {
  background: url(http://dl.dropbox.com/u/138203/reflow/img/help.png) no-repeat !important;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  text-indent: -5000px;
  width: 16px;
}

.reflow #actions .ui-state-active {
  border: 0 !important;
  padding: 0 !important;
}

/* People */

.reflow #people {
  background: #e6e6e6;
  border-bottom: 1px solid #b4b4b4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

.reflow #people .user {
  cursor: default;
  display: inline-block;
}

.reflow #people .user .user_name {
  background-color: #dae6f9 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dae6f9), to(#c1d4f5)) !important;
  background-image: -webkit-linear-gradient(top, #dae6f9, #c1d4f5) !important;
  background-image: -moz-linear-gradient(top, #dae6f9, #c1d4f5) !important;
  background-image: -o-linear-gradient(top, #dae6f9, #c1d4f5) !important;
  background-image: -ms-linear-gradient(top, #dae6f9, #c1d4f5) !important;
  background-image: linear-gradient(top, #dae6f9, #c1d4f5) !important;
  border: 1px solid #9cbdee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) inset;
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  margin: 3px;
  padding: 0 10px;
}

.reflow #people .user.idle .user_name {
  background-color: #efd57e !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efd57e), to(#ffc100)) !important;
  background-image: -webkit-linear-gradient(top, #efd57e, #ffc100) !important;
  background-image: -moz-linear-gradient(top, #efd57e, #ffc100) !important;
  background-image: -o-linear-gradient(top, #efd57e, #ffc100) !important;
  background-image: -ms-linear-gradient(top, #efd57e, #ffc100) !important;
  background-image: linear-gradient(top, #efd57e, #ffc100) !important;
  border: 1px solid #daa400;
  opacity: .5;
}

.reflow #people .user.offline {
  opacity: .25;
}

.reflow #people .people-manager {
  display: inline-block;
  margin-left: 5px;
}

/* Hide this for now... */
.reflow #people .user .last_activity {
  display: none;
}

/* The Flow */

.reflow .app-toolbar {
  display: none !important;
}

.reflow #flowdock-influx .influx_item_wrapper,
.reflow #flowdock-flowser .influx_item_wrapper,
.reflow #flowdock-chat .influx_item_wrapper {
  padding-left: 0 !important;
}

.reflow #flowdock-influx .influx_item .content .title,
.reflow #flowdock-influx .item .content .title,
.reflow #flowdock-influx .results-line .content .title,
.reflow #flowdock-flowser .influx_item .content .title,
.reflow #flowdock-flowser .item .content .title,
.reflow #flowdock-flowser .results-line .content .title,
.reflow #flowdock-chat .influx_item .content .title,
.reflow #flowdock-chat .item .content .title,
.reflow #flowdock-chat .results-line .content .title {
  font-size: 100%;
}



/* The Chat */

.reflow #flowdock-chat #chat_app_input_area {
  bottom: -1px;
  right: 0;
  position: absolute;
  width: 50%;
}

/* Misc */

.reflow .ui-state-hover {
  border: 0 !important;
}

/* Temp */

/*#app_list {
  display: none;
}

.feedback {
  display: none;
}*/

